@use 'variables';

html {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    
}

body {
    margin:0;
    box-sizing: content-box;
    width: 100vw;
    background-color: variables.$tan;
}

button{
    background-color: variables.$ldlRed;
    border: none;
    padding: 5px;
    cursor: pointer;
}
button:hover{
    background-color:#7e082a;
    transition: 0.5s ease-in-out;
}