@use "variables";


.section-card {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  justify-content: flex-start;
  margin:0;
  
  
  
 

  &__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: variables.$white;
    transition: 0.3s;
    margin: 15px;
    margin-left:0;
    height: 95%;
    max-width: 500px;
    min-width: 480px;
    
    
    &:hover{
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
      border-radius: 15px;
    }
    img{
      max-width: 100%;
      width: 100vw;
    }
  }
  &__container {
    padding: 2px 16px;
  }
  &__button{
    margin-top: 20px;

  }
}

@media (min-width: 1400px) {
  .section-card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    flex-direction: row;
    button{
      margin:10px;
      align-self: center;
    }
  }
}
