@use 'variables';

.disclaimer{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100vw;
    height: 5vh;
    background: variables.$pink;
    color: variables.$ldlRed;
    font-size: 1rem;
}