@use 'variables';
footer{
    background-color: variables.$dark;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
footer .footer-left,
footer .footer-center,
footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  