@use "variables";

footer {
  background-color: variables.$dark;
  width: 100%;
  text-align: left;
  padding: 55px 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.footer a {
  text-transform: uppercase;
  color: white;
}

.footer-wrapper {
  display: grid;
  grid-gap: 10px;
  width: 100vw;
  grid-template-columns: fit-content;
  grid-template-rows: 1fr auto;
  justify-content: stretch;

  &__logo {
    text-align: center;
    width: 25cqh;
    max-width: 100%;
    cursor: pointer;
  }

  //style pour les icones de médias sociaux

  &__social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &__social-icons a {
    background-color: variables.$white;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    list-style: none;
  }

  &__social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 10px;
  }

  &__social-icons a.facebook:hover {
    background-color: #3b5998;
    color: variables.$white;
  }

  &__social-icons a.twitter:hover {
    background-color: #00aced;
    color: variables.$white;
  }

  &__social-icons a.instagram:hover {
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    color: variables.$white;
  }

  // Styles pour les liens dans le milieu
  &__links li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 3em;
    text-align: center;
  }

  &__link a:hover {
    text-decoration: underline;
    color: variables.$ldlRed;
  }

  &__legal {
    line-height: 0;
    text-align: center;
    color: gray;
  }

  //Styles pour les infos: adresses, numéro de téléphone, etc.
  &__info {
    text-align: right;
    line-height: 0%;
    margin: 30px;
  }
  &__buttons {
    cursor: pointer;
    margin-right: 0;
  }
  &__buttons button {
    text-decoration: none;
    height: 3.2em;
    min-width: 13vw;
    width: 15vw;
    margin: 10px;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    text-align: center;
  }
}
