@use "variables";

.item img {
    width: 100%;
    max-height: 50vh;
    object-fit:contain;
}

.section-wrapper{
    height: 25vh;
    width: 100vw;
}

.hero-image{
    background-image: url("/sources/medias/nouvelle1.png");
    padding: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}