@use "variables";

section{
  overflow: hidden;
  
}

.lutte-wrapper {
  display: flex;
  flex-direction: row;
  &__left-section {
    width: 50vw;
  }
  &__right-section {
    width: 50%;
    align-self: flex-end;
    img {
      width: 100%;
    }
  }
  &__fight-list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;

    li {
      margin-bottom: 10px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: variables.$tan;
        padding: 10px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        border-left: 5px solid #e74c3c;
        transition: 0.3s ease-in-out;
        .arrow {
          color: white;
          font-size: large;
          font-weight: bolder;
          background-color: variables.$ldlRed;
          padding: 10px;
          border-radius: 15%;
          transition: 0.3s ease-in-out;
          &:hover{
            background-color: rgb(68, 2, 2);
          }
        }
        &:hover {
          background-color: #e6e4e4;
        }
      }
    }
  }
  &__see-more {
    width: 100%;
    color: white;
    border: none;
    font-size: 16px;
  }
}

@media(max-width:768px){
  .lutte-wrapper__right-section {
      display:none;
    }
  .lutte-wrapper__left-section {
    width: 100%;
  }
}