@use "variables";

section{
  overflow: hidden;
  
}

.lutte-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  align-items: flex-start;
  &__left-section {
    flex: 1;
    max-width: 400px;
  }
  &__fight-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;

    li {
      margin-bottom: 10px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: variables.$tan;
        padding: 10px;
        text-decoration: none;
        width: 40vw;
        min-width: 20vw;
        color: #333;
        font-weight: bold;
        border-left: 5px solid #e74c3c;
        transition: 0.3s ease-in-out;
        .arrow {
          color: white;
          font-size: large;
          font-weight: bolder;
          background-color: variables.$ldlRed;
          padding: 10px;
          border-radius: 15%;
          transition: 0.3s ease-in-out;
          &:hover{
            background-color: rgb(68, 2, 2);
          }
        }
        &:hover {
          background-color: #e6e4e4;
        }
      }
    }
  }
  &__see-more {
    background-color: variables.$ldlRed;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
  }
  &__right-section {
    flex: 1;
    position: relative;
    img {
      position:absolute;
      width: 600px;
      height: auto;
      right: 0;
      left: 0;
      bottom:0;
      align-self: baseline;
    }
  }
}

@media(min-width:375px){
  .lutte-wrapper{
    &__right-section{
      img{
        left: 0;
        z-index: 1;
        top:200px;
      }
    }
  }
}

@media(min-width:768px){
  .lutte-wrapper{
    &__fight-list {
      
  
      li {
        
        a {
          width: 25vw;
          min-width: 20vw;
          }
          
        }
      }
    }
    &__right-section{
      img {
        position:absolute;
        width: 600px;
        height: auto;
        right: 0;
        left: 100px;
        align-self: baseline;
        top:170px;
      }
    }
}


@media(min-width:1400px){
  .lutte-wrapper{
    &__right-section{
      img {
        position:absolute;
        width: 600px;
        height: auto;
        right: 0;
        left: 400px;
        align-self: baseline;
        top:100px;
      }
    }
  }
}