@use "variables";

.news-wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    &__news{
        width: 100%;
        ul{
            width: 100vw;
        }
        li{
            list-style-type: none;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-decoration: underline;
            
        &:nth-child(odd){
        background-color: variables.$dark;
        color: white
            }
            
        }
    }
}