@use "variables";

section{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.swiper{
    justify-self: center;
    width:80vw;
    height:50vh;
    .swiper-wrapper{
        .swiper-slide{
            width:80vw;
            height:50vh;
            display: flex;
            justify-content: center;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

    }
    
   
    
}