@charset "UTF-8";
html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: content-box;
  width: 100vw;
  background-color: #E2DED4;
}

button {
  background-color: #B20838;
  border: none;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7e082a;
  transition: 0.5s ease-in-out;
}

/* le disclaimer est en display grid sur une colonne et une rangée*/
@media (min-width: 375px) {
  .disclaimer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100vw;
    height: 10vh;
    background: #F8DDE5;
    color: #B20838;
    font-size: 1rem;
  }
  .disclaimer p {
    /*
    align-self: center;
    */
    justify-self: center;
    margin-left: 2vw;
  }
  .disclaimer i {
    margin-top: 2vh;
    margin-bottom: 8vw;
    margin-right: 2vw;
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 768px) {
  p {
    margin-top: 4vh;
    margin-left: 4vw;
  }
  i {
    margin-left: 1vw;
  }
}
@media (min-width: 1400px) {
  .disclaimer {
    grid-template-columns: auto 10vw;
    grid-template-rows: auto auto;
  }
  i {
    align-self: end;
  }
}
footer {
  background-color: #092327;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.footer a {
  text-transform: uppercase;
  color: white;
}

.footer-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: fit-content;
  justify-content: stretch;
}

@media (min-width: 375px) {
  header {
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: auto 20%;
    align-content: space-around;
  }
  header input[type=text] {
    display: none;
  }
  header .header__searchbar {
    display: none;
  }
  header .header__boutons {
    display: none;
  }
  header img {
    margin-top: 6px;
  }
  button {
    background-color: #B20838;
    border: none;
    padding: 5px;
    width: 10vw;
  }
  /*Image du logo du site*/
  .logo {
    align-self: center;
    justify-self: center;
    width: 150px;
  }
  /*menu navbar doit etre amélioré avec bootstrap*/
  nav {
    align-self: center;
    justify-self: center;
    background-color: #FDFDFF;
  }
  nav .menu {
    display: flex;
    justify-content: start;
  }
  nav .menu .fa-bars {
    color: #B20838;
  }
}
@media (min-width: 768px) {
  /*Image du logo du site*/
  .logo {
    width: 150px;
  }
  /*menu navbar doit etre amélioré avec bootstrap*/
  nav .menu {
    display: none;
  }
  header {
    grid-template-columns: 25% 35% 40%;
    margin-top: 10px;
  }
  header .header__searchbar {
    display: flex;
    justify-content: start;
    align-items: end;
    color: #B20838;
  }
  header .header__searchbar .fa-magnifying-glass {
    margin-right: 3px;
    color: #B20838;
  }
  header input[type=text] {
    display: flex;
    width: 20vw;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
  }
  header .header__boutons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  header .header__boutons button {
    align-self: center;
    height: 6vh;
    width: 19vw;
    background-color: #B20838;
    color: #FDFDFF;
  }
  header .header__boutons button:hover {
    background-color: #FDFDFF;
    color: #B20838;
    border: solid #B20838;
  }
}
/*
@media(min-width: 1400px){
    header{
        input[type="text"] {
            display:grid;
            width:10vw;
            float: right;
            padding: 6px;
            border: solid black;
            margin-top: 8px;
            font-size: 17px;
        }
        .header__boutons{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;

            button{
                width:19vw;
            }


        }

    }
}
    *//*# sourceMappingURL=styles.css.map */