@charset "UTF-8";
html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: content-box;
  width: 100vw;
  background-color: #e2ded4;
}

button {
  background-color: #b20838;
  color: #fdfdff;
  border: none;
  border: solid 2px #fdfdff;
  padding: 15px;
  cursor: pointer; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}
button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

button:hover {
  background-color: #7e082a;
}

a {
  color: #b20838;
}

h1 {
  font-weight: bolder;
}

section hr {
  margin-left: 0;
  width: 40%;
  border-width: 10px;
  max-width: 400px;
  border: solid 2px #b20838;
}

section:not([name=carrousel], [name=swiper]) {
  margin: auto;
  padding: 40px;
}

/* le disclaimer est en display grid sur une colonne et une rangée*/
@media (min-width: 375px) {
  .disclaimer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100vw;
    height: 10vh;
    background: #f8dde5;
    color: #b20838;
    font-size: 1rem;
  }
  .disclaimer p {
    /*
    align-self: center;
    */
    justify-self: center;
    margin-left: 2vw;
    font-size: 15px;
    vertical-align: middle;
  }
  .disclaimer i {
    margin-top: 2vh;
    margin-bottom: 8vw;
    margin-right: 2vw;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  p {
    margin-top: 4vh;
    margin-left: 4vw;
  }
  i {
    margin-left: 1vw;
  }
}
@media (min-width: 1400px) {
  .disclaimer {
    grid-template-columns: auto 10vw;
    grid-template-rows: auto auto;
  }
  i {
    align-self: end;
  }
}
.navbar {
  width: 100%;
  position: relative;
}
.navbar .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fdfdff;
}
.navbar .navbar-top .logo {
  justify-self: center;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .navbar-top__searchbar input {
  padding: 0.5rem;
  padding-inline: 0.2rem;
  border: none;
}
.navbar .navbar-top__searchbar input::-moz-placeholder {
  color: #b20838;
}
.navbar .navbar-top__searchbar input::placeholder {
  color: #b20838;
}
.navbar .navbar-top__searchbar input:active {
  border: 1px solid #ccc;
}
.navbar .navbar-top__searchbar i {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #b20838;
}
.navbar .navbar-top .cta-button {
  background-color: #b20838;
  color: white;
  padding: 10px 20px;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}
.navbar .navbar-top .secondary {
  color: #b20838;
  background-color: #fdfdff;
  border: 2px solid #b20838;
}
.navbar .navbar-bottom {
  background-color: #092327;
}
.navbar .navbar-bottom ul {
  height: 2.2rem;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 0;
}
.navbar .navbar-bottom ul li {
  display: flex;
  align-items: center;
  margin: 0 0;
  height: 100%;
  padding: 0 10px;
}
.navbar .navbar-bottom ul li:hover {
  background-color: #b20838;
}
.navbar .navbar-bottom ul li a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.navbar .navbar-bottom ul li a:hover {
  background-color: #b20838;
}
.navbar .hamburger {
  display: none;
  position: absolute;
  right: 2rem;
  top: 1.6rem;
  z-index: 2;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}
.navbar .hamburger span {
  width: 2rem;
  height: 0.3rem;
  background-color: #092327;
  transition: all 0.3s ease;
}
.navbar .mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fdfdff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.navbar .mobile-menu-overlay .mobile-menu-content {
  text-align: center;
}
.navbar .mobile-menu-overlay .mobile-menu-content .logo {
  height: 3rem;
  margin-bottom: 1.5rem;
}
.navbar .mobile-menu-overlay .mobile-menu-content .searchbar input {
  padding: 0.5rem;
  padding-inline: 0.2rem;
  border: none;
  border-bottom: 1px solid #b20838;
}
.navbar .mobile-menu-overlay .mobile-menu-content .searchbar input::-moz-placeholder {
  color: #b20838;
}
.navbar .mobile-menu-overlay .mobile-menu-content .searchbar input::placeholder {
  color: #b20838;
}
.navbar .mobile-menu-overlay .mobile-menu-content .searchbar input:active {
  border: 1px solid #ccc;
}
.navbar .mobile-menu-overlay .mobile-menu-content .searchbar i {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #b20838;
}
.navbar .mobile-menu-overlay .mobile-menu-content ul {
  list-style: none;
  padding: 0;
}
.navbar .mobile-menu-overlay .mobile-menu-content ul li {
  margin: 15px 0;
}
.navbar .mobile-menu-overlay .mobile-menu-content ul li a {
  color: #b20838;
  font-size: 1rem;
  text-decoration: none;
}
.navbar .mobile-menu-overlay .mobile-menu-content .cta-button {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
}
.navbar .mobile-menu-overlay .mobile-menu-content .secondary {
  color: #b20838;
  background-color: #fdfdff;
  border: 2px solid #b20838;
}

@media (max-width: 768px) {
  .navbar .navbar-bottom,
  .navbar .navbar-top .navbar-top__searchbar,
  .navbar .navbar-top .navbar-top__buttons {
    display: none;
  }
  .navbar .navbar-top {
    justify-content: center;
  }
  .navbar .hamburger {
    display: flex;
  }
  .mobile-menu-overlay.show {
    display: flex;
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 8.5px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -8.5px);
  }
}
.item img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-wrapper {
  height: 25vh;
  width: 100vw;
}

.section-card {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  justify-content: center;
}
.section-card__card img {
  border-radius: 15px;
  width: 100%;
}
.section-card__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fdfdff;
  border-radius: 15px;
  transition: 0.3s;
  margin: 15px;
  height: 50vh;
  max-width: 500px;
  min-width: 480px;
}
.section-card__card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}
.section-card__container {
  padding: 2px 16px;
}

@media (min-width: 1000px) {
  .section-card {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
footer {
  background-color: #092327;
  width: 100%;
  text-align: left;
  padding: 55px 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

footer:last-of-type {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

p {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  margin-left: 0;
  padding: 0;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.footer a {
  text-transform: uppercase;
  color: white;
}

.footer-wrapper {
  display: grid;
  justify-items: center;
  width: 100vw;
  grid-template-columns: fit-content;
  grid-template-rows: 1fr auto;
  justify-self: stretch;
}
.footer-wrapper__socialtree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .legal {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
}
.footer-wrapper__social-icons {
  justify-content: center;
  margin: 0;
  padding-left: 0;
  padding-bottom: 30px;
}
.footer-wrapper__social-icons a {
  background: #fdfdff;
  color: #818a91;
  border-radius: 50%;
  width: 50px;
  font-size: 50px;
  transition: all 0.2s linear;
  list-style: none;
}
.footer-wrapper__social-icons a .facebook:hover {
  background-color: #3b5998;
  color: #fdfdff;
}
.footer-wrapper__social-icons a .twitter:hover {
  background-color: #00aced;
  color: #fdfdff;
}
.footer-wrapper__social-icons a .instagram:hover {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  color: #fdfdff;
}
.footer-wrapper__social-icons a .linkedin:hover {
  background-color: #0428f5;
  color: #fdfdff;
}
.footer-wrapper__social-icons li {
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}
.footer-wrapper__social-icons .fa {
  justify-content: center;
  font-size: 30px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  padding: 0;
  padding-bottom: 7px;
}
.footer-wrapper__links {
  padding: 0;
}
.footer-wrapper__links li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 3em;
  text-align: center;
}
.footer-wrapper__links a:hover {
  text-decoration: underline;
  color: #b20838;
}
.footer-wrapper__legal {
  line-height: 8px;
  text-align: center;
  justify-self: center;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-wrapper__partner {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* Set direction to row */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
}
.footer-wrapper__partner img {
  margin: 10px;
}
.footer-wrapper__info {
  text-align: right;
  line-height: 0%;
  margin: 30px;
}
.footer-wrapper__buttons {
  cursor: pointer;
  margin-right: 0;
}
.footer-wrapper__buttons button {
  text-decoration: none;
  height: 3.2em;
  min-width: 13vw;
  width: 15vw;
  margin: 10px;
  text-transform: uppercase;
  padding: 10px;
  color: white;
}

@media (min-width: 375px) {
  footer {
    grid-template-columns: 1fr;
    /* Stack columns */
    text-align: center;
    /* Center text */
    padding: 30px 0;
    /* Adjust padding */
  }
  footer .footer-wrapper__socialtree {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* Align social icons horizontally */
  }
  footer .footer-wrapper__social-icons {
    margin-top: 10px;
    /* Keep spacing */
  }
  footer .footer-wrapper__links li {
    line-height: 2em;
    /* Adjust line height for smaller screens */
  }
  footer .footer-wrapper__info {
    text-align: center;
    line-height: 20px;
    /* Center info text */
  }
  footer .footer-wrapper__buttons {
    display: flex;
    flex-direction: column;
    /* Stack buttons */
    align-items: center;
    /* Center buttons */
  }
  footer .footer-wrapper__buttons button {
    width: 80%;
    /* Make buttons wider for touch targets */
    margin: 5px 0;
    /* Add space between buttons */
  }
  footer .footer-wrapper__legal {
    font-size: 12px;
    /* Adjust legal text size */
  }
}
@media (min-width: 768px) {
  footer {
    background-color: #092327;
    width: 100%;
    text-align: left;
    padding: 55px 0;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
  }
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
  .legal__links {
    display: flex;
    align-items: center;
  }
  .footer a {
    text-transform: uppercase;
    color: white;
  }
  .footer-wrapper {
    display: grid;
    justify-items: center;
    width: 100vw;
    grid-template-columns: fit-content;
    grid-template-rows: 1fr auto;
    justify-self: stretch;
  }
  .footer-wrapper__socialtree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper__logo {
    width: 25cqh;
    max-width: 100%;
    cursor: pointer;
  }
  .footer-wrapper__social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .footer-wrapper__social-icons a {
    background: #fdfdff;
    color: #818a91;
    border-radius: 50%;
    width: 50px;
    font-size: 50px;
    transition: all 0.2s linear;
    list-style: none;
  }
  .footer-wrapper__social-icons li {
    display: inline-block;
    margin: 0 6px;
  }
  .footer-wrapper__social-icons .fa {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .footer-wrapper__social-icons a.facebook:hover {
    background-color: #3b5998;
    color: #fdfdff;
  }
  .footer-wrapper__social-icons a.twitter:hover {
    background-color: #00aced;
    color: #fdfdff;
  }
  .footer-wrapper__social-icons a.instagram:hover {
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    color: #fdfdff;
  }
  .footer-wrapper__social-icons a.linkedin:hover {
    background-color: #0428f5;
    color: #fdfdff;
  }
  .footer-wrapper__links li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 3em;
    text-align: center;
  }
  .footer-wrapper__link a:hover {
    text-decoration: underline;
    color: #b20838;
  }
  .footer-wrapper__legal {
    line-height: 0;
    text-align: center;
    color: gray;
  }
  .footer-wrapper__info {
    text-align: center;
    line-height: 2%;
    margin: 30px;
  }
  .footer-wrapper__buttons {
    cursor: pointer;
    margin-right: 0;
  }
  .footer-wrapper__buttons button {
    text-decoration: none;
    height: 3.2em;
    min-width: 13vw;
    width: 15vw;
    margin: 10px;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    text-align: center;
  }
}
.testimony-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.testimony-wrapper__testimonial {
  margin-bottom: 30px;
  position: relative;
  padding: 40px;
  border-radius: 15px;
  border-left: 5px solid #b20838;
  width: 70vw;
}
.testimony-wrapper__testimonial:not(#left) {
  align-self: flex-end;
}
.testimony-wrapper__testimonial::before, .testimony-wrapper__testimonial::after {
  content: "“";
  font-size: 80px;
  color: #b20838;
  position: absolute;
}
.testimony-wrapper__testimonial::before {
  left: 0;
  top: 0;
}
.testimony-wrapper__testimonial::after {
  content: "”";
  font-size: 80px;
  right: 0;
  bottom: -30px;
}
.testimony-wrapper__testimonial p {
  text-align: justify;
  font-size: 20px;
}
.testimony-wrapper__source {
  font-weight: bold;
  margin-top: 10px;
}

.right-align p {
  text-align: right;
}

section {
  overflow: hidden;
}

.lutte-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
}
.lutte-wrapper__left-section {
  flex: 1;
  max-width: 400px;
}
.lutte-wrapper__fight-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.lutte-wrapper__fight-list li {
  margin-bottom: 10px;
}
.lutte-wrapper__fight-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2ded4;
  padding: 10px;
  text-decoration: none;
  width: 25vw;
  min-width: 20vw;
  color: #333;
  font-weight: bold;
  border-left: 5px solid #e74c3c;
  transition: 0.3s ease-in-out;
}
.lutte-wrapper__fight-list li a .arrow {
  color: white;
  font-size: large;
  font-weight: bolder;
  background-color: #b20838;
  padding: 10px;
  border-radius: 15%;
}
.lutte-wrapper__fight-list li a:hover {
  background-color: #e6e4e4;
}
.lutte-wrapper__see-more {
  background-color: #b20838;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}
.lutte-wrapper__right-section {
  flex: 1;
  position: relative;
}
.lutte-wrapper__right-section img {
  position: absolute;
  width: 600px;
  height: auto;
  right: 0;
  left: 0;
  align-self: baseline;
}

@media (min-width: 375px) {
  .lutte-wrapper__right-section img {
    left: 0;
    z-index: 1;
    top: 100px;
  }
}
@media (min-width: 768px) {
  .lutte-wrapper__right-section img {
    position: absolute;
    width: 600px;
    height: auto;
    right: 0;
    left: 100px;
    top: 0;
    align-self: baseline;
  }
}
@media (min-width: 1400px) {
  .lutte-wrapper__right-section img {
    position: absolute;
    width: 600px;
    height: auto;
    right: 0;
    left: 400px;
    top: 0;
    align-self: baseline;
  }
}
.don {
  background-color: white;
}
.don.don-wrapper.__description-don-wrapper p {
  font-size: 20px;
}

.swiper {
  width: 100vw;
  height: 60vh;
}
.swiper .swiper-wrapper .swiper-slide {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */