@use "variables";

.titrecontact{
    font-size: 50px ;
    margin-top: 200px;
    text-align: center;
}

.descriptioncontact{
    margin-bottom: 50px;
}

.titremontreal{
    text-align: center;
}

.titrequebec{
    text-align: center;
}

.webquebec{
    text-align: center;
}

