@use "variables";

.titrecontact .h1 {
    font-size: 50px;
    margin-top: 180px;
    text-align: center;
}

.descriptioncontact {
    margin-bottom: 50px;
}

.titremontreal {
    text-align: center;
}

.titrequebec {
    text-align: center;
}

.webquebec {
    text-align: center;
}


.formulaire {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 30px;
    ;
    width: 100vw;
    
    max-width: 100%;
    background-color: variables.$lightdark;

    .titre {
        color: variables.$white;
        margin-top:25px;
        margin-bottom:30px;
        
    }

    .label-form {
        color: variables.$white;
        margin-left: 10px;
    }
    
}