@use "variables";
.don{
    background-color: white;
    &.don-wrapper{
        &.__description-don-wrapper{
            p{
                font-size: 20px;
            }
            
        }

    }
    
}

@media(min-width:375px){
    article{
        &.__description-don-wrapper{
            
            p{
                text-align: left;
                font-size: 15px;
                margin-top:15px;
                margin-bottom:15px;
            }

            
        }
    }

}