@use "variables";


body {
  background-color: #e6e2dc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-wrapper {
  text-align: center;
  color: #000;

  h2 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .committees {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    .committee-card {
      background: #fff;
      border: 1px solid #d0d0d0;
      padding: 20px;
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .icon {
        font-size: 36px;
        margin-bottom: 10px;
      }

      .title {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .view-more {
    background-color: #a30032;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #850026;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .pagination-btn {
      background-color: #a30032;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #850026;
      }
    }

    .pagination-dots {
      font-size: 18px;
      color: #a30032;
    }
  }
}

@media(max-width:768px){
  .lutte-wrapper__right-section {
      display:none;
    }
  .lutte-wrapper__left-section {
    width: 100%;
  }
}

