@use "variables";

.partners-section {
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 65px 0;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo-slider {
    display: flex;
    width: 100%;
    animation: slide 10s linear infinite;
}

.logo-slider img {
    filter: grayscale(1);
    height: 75px;
    margin-right: 50px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}